.additional {
  padding-top: 30px;
}

.additional__title {
  @include indent-reset;

  margin-bottom: 34px;
  // padding-left: 20px;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  text-align: left;
  color: $clr-main;
}

.additional__list {
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 1px solid #d6d6d6;
}

.additional__item {
  min-height: 128px;
  border-bottom: 1px solid #d6d6d6;
}

.additional__promo {
  margin-top: 39px;
  margin-bottom: 35px;
  height: 289px;
}


@media (min-width: $width-table) {
  .additional {
    padding-top: 68px;
  }

  .additional__title {
    margin-bottom: 80px;
    // padding-left: 3px;
    font-size: 36px;
  }

  .additional__list {
    border-top: none;
  }

  .additional__item {
    min-height: 139px;
  }

  .additional__promo {
    margin-top: 69px;
    margin-bottom: 77px;
    height: 200px;
  }
}


@media (min-width: $width-desktop) {
  .additional {
    padding-top: 76px;
    padding-bottom: 87px;
  }

  .additional__content {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }

  .additional__list {
    flex-basis: 895px;
  }

  .additional__promo {
    // flex-basis: 245px;
    margin: 0;
    width: 245px;
    // height: 289px;
    height: auto;
  }

  .additional__title {
    margin-bottom: 82px;
    // padding-left: 42px;
  }

  .additional__item {
    min-height: 72px;
  }
}
