.card {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 25px 20px 22px 20px;
  background-color: $crl-bg-grey;

  &::before {
    content: "";
    position: absolute;
    top: 25px;
    left: 20px;
    margin-left: 2px;
    padding-bottom: 5px;
    width: 50px;
    height: 50px;
    background-color: $crl-bg-main;
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-size: auto;
  }
}

.card--loss {
  &::after {
    top: 22px;
    left: 30px;
    width: 35px;
    height: 49px;
    background-image: url("../img/icon-cat-slim.svg");
  }
}

.card--gain {
  &::after {
    top: 35px;
    left: 13px;
    width: 67px;
    height: 28px;
    background-image: url("../img/icon-cat-pro.svg");
  }
}


.card__title {
  @include indent-reset;

  margin-top: 5px;
  margin-bottom: 30px;
  margin-left: 71px;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-align: left;
  color: $clr-main;
}

.card__descr {
  margin-bottom: 20px;
  /*Для PP*/
  /*line-height: 19px;*/
  padding-bottom: 21px;
  width: 100%;
  border-bottom: 1px solid #d6d6d6;
}

.card__link {
  display: flex;
  align-items: center;
  margin-top: auto;
  font-size: 16px;
  line-height: 1;
  text-align: left;
  color: $clr-main;
  text-decoration: none;

  &:active {
    opacity: 0.3;
  }

  &::after {
    content: "";
    display: inline-block;
    margin-left: 12px;
    width: 24px;
    height: 11px;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
  }

  &:hover::after,
  &:focus::after {
    width: 33px;
    height: 11px;
    background-image: url("../img/icon-right-arrow-verylong.svg");
  }
}

@media (min-width: $width-table) {
  .card {
    position: relative;
    padding: 70px 284px 62px 52px;

    &::before {
      top: 92px;
      right: 62px;
      left: auto;
      width: 200px;
      height: 200px;
    }

    &::after {
      left: auto;
    }
  }

  .card--loss {
    &::after {
      top: 80px;
      right: 92px;
      width: 140px;
      height: 194px;
    }
  }

  .card--gain {
    &::after {
      top: 134px;
      right: 28px;
      width: 268px;
      height: 112px;
    }
  }

  .card__title {
    margin-bottom: 27px;
    margin-left: 0;
    font-size: 36px;
  }

  .card__descr {
    border: none;
  }

  .card--gain .card__descr {
    width: 92%;
  }


  .card__link {
    font-size: 20px;

    &::after {
      margin-left: 25px;
    }
  }
}


@media (min-width: $width-desktop) {
  .card {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 47px 56px 62px 52px;

    &::before {
      top: 47px;
      right: auto;
      left: 50px;
      width: 100px;
      height: 100px;
    }

    &::after {
      right: auto;
    }
  }

  .card--loss {
    &::after {
      top: 40px;
      left: 66px;
      width: 70px;
      height: 97px;
    }
  }

  .card--gain {
    &::after {
      top: 68px;
      left: 34px;
      width: 134px;
      height: 56px;
    }
  }

  .card__title {
    margin-top: 29px;
    margin-bottom: 75px;
    margin-left: 162px;
    font-size: 36px;
  }

  .card__descr {
    margin-bottom: 7px;
  }

  .card--gain .card__descr {
    width: 100%;
  }
}
