.catalog {
  padding-top: 14px;
}

.catalog__title {
  margin-bottom: 29px;
}

.catalog__list {
  @include indent-reset;

  list-style: none;
}

.catalog__item {
  min-height: 209px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 0;
    left: -20px;
    height: 1px;
    background-color: #d6d6d6;
  }
}

.catalog__item--more {
  padding-top: 27px;

  &::before {
    content: "";
    display: block;
    margin-right: auto;
    margin-bottom: 22px;
    margin-left: auto;
    width: 30px;
    height: 30px;
    background-image: url("../img/icon-plus-mobile.svg");
    background-size: 100%;
    opacity: 0.2;
  }
}

.catalog__text {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $clr-main;
}

.catalog__text-s {
  margin: 8px 0 22px;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: $clr-text;
}

.catalog__link-more {
  margin-top: auto;
}


@media (min-width: $width-tablet) {
  .catalog {
    padding-top: 20px;
    border: none;
  }

  .catalog__title {
    margin-bottom: 25px;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    border: none;
  }

  .catalog__item {
    margin-top: 139px;
    width: 324px;
    min-height: 431px;

    &:nth-of-type(even) {
      margin-left: 60px;
    }

    &::after {
      content: none;
    }
  }

  .catalog__item--more {
    display: flex;
    flex-direction: column;
    padding: 55px 37px 37px 37px;
    font-size: 20px;
    border: 1px solid #cdcdcd;

    &::before {
      margin-bottom: 50px;
      width: 60px;
      height: 60px;
    }
  }

  .catalog__text {
    padding: 0 50px;
    font-size: 20px;
  }

  .catalog__text-s {
    margin-top: 27px;
    padding: 0 30px;
    font-size: 16px;
    line-height: 18px;
  }
}


@media (min-width: $width-desktop) {
  .catalog {
    padding-top: 48px;
  }

  .catalog__item {
    width: 245px;
    margin-top: 141px;
    margin-left: 80px;

    &:nth-of-type(even) {
      margin-left: 80px;
    }

    &:nth-of-type(4n+1) {
      margin-left: 0;
    }
  }

  .catalog__text {
    padding: 0;
  }

  .catalog__text-s {
    padding: 0;
  }
}
