.copyright {
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.copyright__text {
  font-family: $sec-font;
  font-size: 16px;
  line-height: 1;
  text-align: left;
  color: $clr-text;
}

@media (min-width: $width-table) {
  .copyright__text {
    margin-right: 16px;
  }
}

.copyright__logo {
  display: flex;
}
