.data {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  @include indent-reset;
  // width: 100%;
  & + & {
    margin-left: 32px;
  }
}

.data__title {
  padding: 13px;
  width: 100%;
  min-width: 124px;
  min-height: 55px;
  font-size: 24px;
  line-height: 1;
  color: $clr-main;
  text-align: center;
  white-space: nowrap;
  border-radius: 3px;
  border: 1px solid #cdcdcd;
}

.data__descr {
  position: relative;
  bottom: 10px;
  z-index: 5;
  padding: 2px;
  margin: 0;
  max-width: 90%;
  min-height: 20px;
  font-family: $sec-font;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  color: $clr-text;
  background-color: #f2f2f2;
}

@media (min-width: $width-table) {
  .data {
    & + & {
      margin-left: 42px;
    }
  }

  .data__title {
    min-width: 162px;
    min-height: 72px;
    font-size: 30px;
    line-height: 37px;
  }

  .data__descr {
    bottom: 17px;
    padding: 8px;
    font-size: 14px;
    background-color: #ffffff;
  }
}

@media (min-width: $width-desktop) {
  .data {
    flex-grow: 0;
  }

  .data__descr {
    background-color: #f2f2f2;
  }
}
