.example {
  padding-top: 16px;
  padding-bottom: 34px;
  background-color: #f2f2f2;
}

/*line-height: 19px; иначе текст не бьется с PP*/
.example__text {
  padding-right: 10px;
}

.example__statistics {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 6px;
}

.example__cost {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: $clr-main;
}

.example__slider {
  width: 100%;
  margin-top: 35px;
  margin-right: auto;
  margin-bottom: 4px;
  margin-left: auto;
}

@media (min-width: $width-table) {
  .example {
    position: relative;
    padding-top: 44px;
    padding-bottom: 90px;
    background-color: transparent;
    border-top: 1px solid #cdcdcd;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      z-index: -1;
      width: 100%;
      height: 462px;
      background-color: #f2f2f2;
    }
  }

  .example__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .example__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .example__title {
    margin-bottom: 63px;
  }

  .example__statistics {
    flex-basis: 50%;
    margin-top: 55px;
  }

  .example__cost {
    margin-top: 20px;
    font-size: 20px;
    text-align: right;

    &--value {
      display: block;
      margin-top: 10px;
    }
  }

  .example__slider {
    height: 523px;
    margin-top: 64px;
  }
}

@media (min-width: $width-desktop) {
  .example {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 13px;
    padding-bottom: 65px;
    border-top: none;
    flex-wrap: nowrap;
  }

  .example__content {
    flex-basis: 36%;
    margin-top: 69px;
    display: block;
  }

  .example__title {
    margin-bottom: 145px;
  }

  .example__text {
    padding-right: 0;
  }

  .example__statistics {
    justify-content: flex-start;
    margin-top: 70px;
    margin-bottom: 31px;
  }

  .example__cost {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: left;

    &--value {
      display: inline-block;
      margin-top: 0;
      margin-left: 59px;
    }
  }

  .example__slider {
    width: auto;
    height: auto;
    margin: 0;
  }
}
