.field {
  display: flex;
  align-items: center;
}

.field input:disabled + .field__label {
  opacity: 0.3;
}

.field input[type="radio"]:focus + .field__label::before,
.field input[type="checkbox"]:focus + .field__label::before {
  box-shadow: 0 0 0 1px #bababa, 0 0 0 5px #ffffff, 0 0 0 6px #68b738;
}


.field__label {
  display: flex;
  align-items: center;
  margin-right: 15px;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: #222222;
  white-space: nowrap;

  &::before {
    display: block;
    margin-right: 16px;
    width: 28px;
    height: 28px;
  }

  &:active {
    opacity: 0.3;
  }
}


.field__label--radio {
  &::before {
    content: "";
    background-color: $crl-light;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #cdcdcd;
  }

  &:hover::before {
    box-shadow: 0 0 0 1px #bababa;
  }
}

.field__label--checkbox {
  &::before {
    content: "";
    background-color: $crl-light;
    box-shadow: 0 0 0 1px #cdcdcd;
  }

  &:hover::before {
    box-shadow: 0 0 0 1px #bababa;
  }
}

.field__text {
  position: relative;
  display: flex;
  flex-grow: 1;
  padding: 10px 12px 10px 14px;
  max-width: 100%;
  min-height: 45px;
  font-size: 16px;
  line-height: 18px;
  font-family: inherit;
  text-align: left;
  color: $clr-text;
  text-transform: uppercase;
  border: solid 1px #e3e3e3;

  &--textarea {
    padding-top: 15px;
    width: 100%;
    min-height: 152px;
  }

  &:hover {
    border: solid 1px #cdcdcd;
  }

  &:active,
  &:focus {
    outline: solid 2px #444444;
  }

  &:invalid {
    outline: solid 2px #ff8282;
  }
}

.field__text--email {
  background-image: url("../img/icon-mail.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  background-size: 18px 14px;

  &:invalid {
    background-image: url("../img/icon-mail-red.svg");
  }

  &:valid {
    background-image: url("../img/icon-mail-green.svg");
  }
}

.field__text--phone {
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: right 14px center;
  background-size: 20px 20px;

  &:invalid {
    background-image: url("../img/icon-phone-red.svg");
  }

  &:valid {
    background-image: url("../img/icon-phone-green.svg");
  }
}

.field__text[type="number"] {
  appearance: textfield;
}

.field__text[type="number"]::-webkit-outer-spin-button,
.field__text[type="number"]::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

.field__radio:checked + .field__label--radio::before {
  background-color: $crl-bg-main;
  border: 8px solid $crl-light;
  box-shadow: 0 0 0 1px #cdcdcd;
}

.field__checkbox:checked + .field__label--checkbox::before {
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 21px 16px;
}


@media (min-width: $width-tablet) {
  .field__label {
    font-size: 20px;
    line-height: 20px;

    &::before {
      margin-right: 21px;
      width: 38px;
      height: 38px;
    }
  }

  .field__text {
    padding-left: 20px;
    min-height: 52px;
    font-size: 20px;
    line-height: 20px;

    &--textarea {
      padding-top: 15px;
      min-height: 174px;
    }
  }

  .field__radio:checked + .field__label--radio::before {
    border: 10px solid $crl-light;
  }
}
