.field {
  display: flex;
  align-items: center;
}

.field__label {
  display: flex;
  align-items: center;
  margin-right: 15px;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: #222222;
  white-space: nowrap;

  &::before {
    display: block;
    margin-right: 16px;
    width: 28px;
    height: 28px;
  }
}


.field__label--radio {
  &::before {
    content: "";
    border-radius: 50%;
    background-color: $crl-light;
    box-shadow: 0 0 0 1px #cdcdcd;
  }
}

.field__label--checkbox {
  &::before {
    content: "";
    background-color: $crl-light;
    box-shadow: 0 0 0 1px #cdcdcd;
  }
}

.field__text {
  display: flex;
  flex-grow: 1;
  position: relative;
  padding: 10px 12px 10px 14px;
  // width: 100%;
  min-height: 45px;
  max-width: 100%;
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: $clr-text;
  text-transform: uppercase;
  border: solid 1px #e3e3e3;

  &--textarea {
    width: 100%;
    min-height: 152px;
    padding-top: 15px;
  }

  &--email {
    background-image: url("../img/icon-mail.svg");
    background-repeat: no-repeat;
    background-size: 18px 14px;
    background-position: right 16px center;
  }

  &--phone {
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: right 14px center;
  }

  &:hover {
    border: solid 1px #cdcdcd;
  }

  &:active,
  &:focus {
    outline: solid 2px #444444;
  }

  &:invalid {
    outline: solid 2px #ff8282;
  }
}


.field__text[type=number] {
  -moz-appearance: textfield;
}

.field__text::-webkit-outer-spin-button,
.field__text::-webkit-inner-spin-button {
  -webkit-appearance: none;
}


.field__radio:checked + .field__label--radio::before {
  border: 8px solid $crl-light;
  background-color: $crl-bg-main;
  box-shadow: 0 0 0 1px #cdcdcd;
}

.field__checkbox:checked + .field__label--checkbox::before {
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 21px 16px;
}


@media (min-width: $width-table) {
  .field__label {
    font-size: 20px;
    line-height: 20px;

    &::before {
      margin-right: 21px;
      width: 38px;
      height: 38px;
    }
  }

  .field__text {
    min-height: 52px;
    font-size: 20px;
    line-height: 20px;
    padding-left: 20px;

    &--textarea {
      min-height: 174px;
      padding-top: 15px;
    }
  }

  .field__radio:checked + .field__label--radio::before {
    border: 10px solid $crl-light;
  }
}
