.food-ration__item {
  min-height: 266px;

  & + & {
    margin-top: 20px;
  }
}

@media (min-width: $width-tablet) {
  .food-ration__item {
    min-height: 372px;

    & + & {
      margin-top: 30px;
    }
  }
}


@media (min-width: $width-desktop) {
  .food-ration {
    display: flex;
  }

  .food-ration__item {
    width: 570px;
    min-height: 372px;

    & + & {
      margin-top: 0;
      margin-left: 80px;
    }
  }
}
