.food-ration {
}

.food-ration__item {
  min-height: 266px;

  & + & {
    margin-top: 20px;
  }
}

@media (min-width: $width-table) {
  .food-ration__item {
    min-height: 372px;

    & + & {
      margin-top: 30px;
    }
  }
}
