.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__item {
  min-height: 63px;

  & + & {
    border-top: 1px solid #e0e0e0;
  }
}

.footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
  height: 94px;
}

.footer__social {
  padding-right: 11px;
  height: 63px;
}

.footer__copyright {
  padding-top: 18px;
  height: 78px;
}

@media (min-width: $width-tablet) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer__item {
    padding-top: 0;
    height: auto;
    min-height: auto;

    & + & {
      border-top: none;
    }
  }

  .footer__logo {
    padding-top: 0;
    width: 130px;
    height: 44px;
  }

  .footer__social {
    margin-left: 18px;
    padding-right: 0;
  }

  .footer__copyright {
    padding-top: 0;
    height: auto;
  }
}
