.footer {
  text-align: center;
}

@media (min-width: $width-table) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.footer__item {
  min-height: 62px;
  padding-top: 22px;
  padding-bottom: 20px;

  & + & {
    border-top: 1px solid #e0e0e0;
  }
}

@media (min-width: $width-table) {
  .footer__item {

    & + & {
    border-top: none;
    }
  }
}

.footer__logo {
  padding-top: 37px;
  padding-bottom: 29px;
}

