.form-diet {

}

.form-diet__group {
  @include indent-reset;
  border: none;
  display: block;

  &--diet {
    border: 1px solid #ededed;
  }

  & + & {
    margin-top: 23px;
  }
}

.form-diet__item {
  width: 100%;

  &--diet {
    border: solid 1px #ededed;
  }

  & ~ & {
    margin-top: 14px;
  }
}

.form-diet__subtitle {
  @include indent-reset;
  margin-right: -20px;
  font-size: 24px;
  line-height: 24px;
  text-align: left;
  font-weight: 400;
  color: $clr-main;
}

.form-diet__btn {
  width: 100%;
}

.form-diet__text {
  @include indent-reset;
  font-family: $sec-font;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: $clr-text;
}
