.nav-toggle {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;

  &--close {
    width: 18px;
    height: 18px;
    background-image: url("../img/icon-close.svg");
    background-repeat: no-repeat;
    background-size: 18px 18px;
  }

  &--burger {
    width: 25px;
    height: 25px;
    background-image: url("../img/icon-mobile-menu.svg");
    background-repeat: no-repeat;
    background-size: 25px 25px;
  }
}

@media (min-width: $width-table) {
  .nav-toggle {
    display: none;
  }
}
