.other-product {
  padding-top: 12px;
  padding-bottom: 18px;
}

@media (min-width: $width-table) {
  .other-product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 26px 37px;
    border: 1px solid #d6d6d6;
  }
}

.other-product__name {
  @include indent-reset;
  margin-bottom: 14px;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  text-align: left;
  color: #222222;
}

@media (min-width: $width-table) {
  .other-product__name {
    margin-bottom: 24px;
    font-size: 20px;
  }
}

.other-product__link {
  text-decoration: none;
  color: inherit;
}

.other-product__details {
  margin-bottom: 15px;
  width: 100%;
  font-family: $sec-font;
  font-size: 14px;
  line-height: 1;
  color: $clr-text;
  border-collapse: collapse;
}

@media (min-width: $width-table) {
  .other-product__details {
    width: auto;
    font-size: 16px;
    line-height: 20px;
  }
}

.other-product__btn {

}

@media (min-width: $width-table) {
  .other-product__btn {
    width: 100%;
  }
}
