.page-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 150px;
  background-color: #f2f2f2;
}

.page-footer__map {
  width: 100%;
}


@media (min-width: $width-tablet) {
  .page-footer__content {
    padding-top: 41px;
    padding-bottom: 41px;
    min-height: 150px;
  }
}
