.page-footer {
  background-color: #f2f2f2;
}

@media (min-width: $width-table) {
  .page-footer {
    display: flex;
    flex-direction: column;
  }
}


.page-footer__map {
  width: 100%;
}

.page-footer__content {

}

@media (min-width: $width-table) {
  .page-footer__content {
    min-height: 150px;
  }
}


@media (min-width: $width-desktop) {
  .page-footer__content {
    padding-top: 10px;
  }
}
