.page-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 11px;
}

.page-header__logo {
  display: block;
  min-height: 55px;
}

.nav-toggle--burger {
  margin-top: 9px;
}

.nav-toggle--close {
  margin-top: 13px;
}

.page-header__nav {
  flex-grow: 1;
}


@media (max-width: $mobile-only) {
  .page-header--nojs .nav-toggle {
    display: none;
  }

  .page-header {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: -20px;
      right: -20px;
      display: block;
      height: 1px;
      background-color: #d6d6d6;
    }
  }
}


@media (min-width: $width-tablet) {
  .page-header {
    flex-wrap: nowrap;
    padding-top: 24px;
    min-height: 120px;
  }

  .page-header__logo {
    flex-grow: 0;
    flex-shrink: 0;
    align-items: flex-start;
    width: 173px;
    height: 58px;
  }

  .page-header__nav {
    flex-grow: 0;
    padding-top: 19px;
  }
}


@media (min-width: $width-desktop) {
  .page-header {
    position: relative;
    padding-top: 54px;
    min-height: 140px;

    &--index::after {
      content: "";
      position: absolute;
      top: 0;
      right: calc((100vw - 100%) / -2 + 9px);
      z-index: -5;
      display: block;
      width: calc(50vw - 8px);
      height: 100%;
      background-color: #64a93c;
    }
  }

  .page-header__logo {
    align-items: flex-start;
    width: 202px;
    height: 59px;
  }

  .page-header__nav {
    padding-left: 34%;
    width: 100%;
  }
}
