.page-btn {
  // display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  // flex-grow: 1;
  // flex-shrink: 0;
  padding: 5px 15px;
  min-height: 40px;
  font-size: 16px;
  line-height: 20px;
  // min-width: 245px;
  font-family: "Oswald", "Helvetica", "Arial", sans-serif;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $crl-bg-main;
  border: none;

  &:hover,
  &:focus {
    background-color: #5eaa2f;
  }

  &:active {
    color: transparentize(#ffffff, 0.3);
  }
}

// @media (min-width: $width-table) {
//   .page-btn {
//     font-size: 20px;
//     min-height: 52px;
//   }
// }

.page-btn--grey {
  color: #444444;
  background-color: #f2f2f2;

  &:hover,
  &:focus {
    background-color: #ebebeb;
  }

  &:active {
    color: transparentize(#444444, 0.3);
  }
}
