.personal-diet {
  padding-top: 15px;
}

.personal-diet__title {
  margin-bottom: 26px;
}

.personal-diet__text {
  @include indent-reset;

  margin-bottom: 40px;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: $clr-main;
}

@media (min-width: $width-table) {
  .personal-diet {
    padding-top: 20px;
  }

  .personal-diet__title {
    margin-bottom: 56px;
  }

  .personal-diet__form {
    margin-right: 38px;
    margin-left: 41px;
  }
}


@media (min-width: $width-desktop) {
  .personal-diet {
    padding-top: 48px;
  }

  .personal-diet__form {
    margin-right: 0;
    margin-left: 0;
  }
}
