.product-banner {
  position: relative;
  padding-top: 28px;
  padding-bottom: 22px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    z-index: -5;
    display: block;
    width: 320px;
    height: 305px;
    background-color: $crl-bg-main;
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-background-mobile@2x.jpg");
    }
  }
}

.product-banner__title {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  color: $crl-light;
}

.product-banner__slogan {
  @include indent-reset;

  margin-bottom: 29px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  color: $crl-light;
}

.product-banner__img {
  display: block;
  margin-bottom: 3px;
}

.product-banner__link {
  font-size: 14px;
  line-height: 18px;
}


@media (min-width: $width-tablet) {
  .product-banner {
    padding-top: 20px;
    padding-right: 50px;
    padding-left: 89px;
    height: 830px;

    &::after {
      display: none;
    }
  }

  .product-banner__title {
    margin-bottom: 42px;
    width: 415px;
    font-size: 60px;
    text-align: left;
    color: $clr-main;
  }

  .product-banner__slogan {
    margin-bottom: 47px;
    font-size: 20px;
    text-align: left;
    color: $clr-main;
  }

  .product-banner__img {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -5;
    margin-bottom: 0;
  }

  .product-banner__link {
    width: 43%;
    min-height: 53px;
    font-size: 20px;
    line-height: 20px;
  }
}


@media (min-width: $width-desktop) {
  .product-banner {
    padding-top: 82px;
    padding-left: 80px;
    height: 635px;

    &::after {
      top: -140px;
      right: calc((100vw - 100%) / -2 + 9px);
      left: auto;
      display: block;
      width: calc(50vw - 8px);
      height: 696px;
      background-color: #64a93c;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-position: top right;
      background-size: contain;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
      }
    }
  }

  .product-banner__img {
    position: absolute;
    top: 2px;
    right: 218px;
    bottom: auto;
    left: auto;
    z-index: 5;
  }

  .product-banner__slogan {
    margin-bottom: 53px;
    width: 415px;
  }

  .product-banner__link {
    width: 245px;
    min-height: 52px;
    font-size: 20px;
    line-height: 20px;
  }
}
