.product {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 24px;
  position: relative;
}

.product__photo {
  width: 140px;
}

.product__photo img {
  display: block;
}

.product__info {
  flex-basis: 50%;
}

.product__name {
  @include indent-reset;

  margin-top: 22px;
  margin-bottom: 15px;
  width: 60%;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  color: $clr-main;
}

.product__details {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
  line-height: 16px;
  font-family: $sec-font;
  text-align: left;
  color: $clr-text;
}

.product__link {
  color: inherit;
  text-decoration: none;
}

.product__btn {
  width: 100%;
}


@media (min-width: $width-tablet) {
  .product {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 82px;
    padding-bottom: 40px;
    background-color: #f2f2f2;
  }

  .product__info {
    margin-bottom: 14px;
    padding-left: 37px;
    padding-right: 37px;
    padding-top: 127px;
    width: 100%;
    font-size: 20px;
    text-align: center;
  }

  .product__name {
    margin-top: 36px;
    margin-right: auto;
    margin-bottom: 19px;
    margin-left: auto;
    padding: 0;
    width: 150px;
    font-size: 20px;
    text-align: center;
  }

  .product__details {
    margin-bottom: 20px;
    font-size: 16px;
  }

  .product__photo {
    position: absolute;
    bottom: calc(100% - 127px);
    left: 0;
    width: auto;
  }

  .product__btn {
    align-self: stretch;
    margin: 0 38px;
    width: auto;
  }
}
