.product {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 20px 24px 20px;
}

@media (min-width: $width-table) {
  .product {
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 82px;
    padding: 0 37px 37px 37px;
    background-color: #f2f2f2;
  }
}

.product__photo {
  display: block;
}

.product__info {
  flex-basis: 50%;
}

@media (min-width: $width-table) {
  .product__info {
    width: 100%;
    font-size: 20px;
    text-align: center;
  }
}


.product__name {
  @include indent-reset;
  padding-top: 20px;
  margin-bottom: 15px;
  width: 60%;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
  color: $clr-main;
}

@media (min-width: $width-table) {
  .product__name {
    margin-bottom: 18px;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    font-size: 20px;
    text-align: center;
  }
}

.product__details {
  width: 100%;
  font-family: $sec-font;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  color: $clr-text;
  border-collapse: collapse;
}

@media (min-width: $width-table) {
  .product__details {
    margin-bottom: 35px;
    font-size: 16px;
  }
}


.product__link {
  text-decoration: none;
  color: inherit;
}


.product__btn {
  width: 100%;
}

