.promo {
  padding-top: 65px;

  background-color: $crl-bg-main;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-size: cover;
  background-position: center;
}

@media (min-width: $width-table) {
  .promo {
    display: flex;

  }
}

.promo__title {
  margin: auto;
  width: 160px;
  font-family: $sec-font;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $crl-light;

  &::before {
    content: "";
    flex-shrink: 0;
    display: block;
    width: 55px;
    height: 60px;
    margin: 0 auto;
    margin-bottom: 62px;
    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
    background-size: 55px 60px;
  }
}


@media (min-width: $width-table) {
  .promo__title {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 1;
    margin: 0;
    text-align: left;

    &::before {
      margin: 0;
    }
  }
}
