.promo {
  padding-top: 65px;

  background-color: $crl-bg-main;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-size: cover;
  background-position: center;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }
}

.promo__title {
  margin: auto;
  width: 160px;
  font-family: $sec-font;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $crl-light;

  &::before {
    content: "";
    flex-shrink: 0;
    display: block;
    width: 55px;
    height: 60px;
    margin: 0 auto;
    margin-bottom: 62px;
    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
    background-size: 55px 60px;
  }
}


@media (min-width: $width-table) {
  .promo {
    padding: 0 92px;
    display: flex;
    background-image: url("../img/gift-photo-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }
  }

  .promo__title {
    padding-right: 28px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    margin: 0;
    text-align: left;

    &::before {
      margin: 0;
      margin-bottom: 14px;
    }
  }
}


@media (min-width: $width-desktop) {
  .promo {
    padding: 0;
    background-image: url("../img/gift-photo-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
  }

  .promo__title {
    padding: 43px 10px;
    flex-direction: column;
    text-align: center;

    &::before {
      margin-top: 22px;
    }
  }
}
