.slider {
  display: flex;
  flex-direction: column;
}

.slider__list {
  @include indent-reset;

  margin: auto;
  margin-left: -20px;
  list-style: none;
}

.slider__item {
  display: none;
  max-width: 100%;
}

.slider__photo {
  display: block;
}


.slider__controls {
  z-index: 5;
  margin-top: 30px;
  text-align: center;
}


/* Переключение*/
.slider__before:checked ~ .slider__list .slider__item--before {
  display: block;
}

.slider__before:checked ~ .switch .switch__scale .switch__indicator {
  left: 6px;
  display: block;
}

.slider__after:checked ~ .slider__list .slider__item--after {
  display: block;
}

.slider__after:checked ~ .switch .switch__scale .switch__indicator {
  right: 6px;
  display: block;
}


@media (min-width: $width-table) {
  .slider {
    position: relative;
    justify-content: center;
    align-content: center;
    width: 100%;
  }

  .slider__list {
    position: relative;
    margin: 0 16px;
    margin-bottom: 18px;
  }

  .slider__item {
    display: block;
    width: auto;
    height: auto;
    overflow: hidden;

    &--before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 365.5px;
      background-image: linear-gradient(to top, #f2f2f2 348px, #ffffff 329px);
    }

  }

  .slider__controls {
    margin-left: 68px;
    margin-right: 70px;
    margin-top: 0;
    margin-bottom: 5px;
  }
}


@media (min-width: $width-desktop) {
  .slider__list {
    margin: 0;
    margin-bottom: 39px;
    margin-left: -79px;
  }

  .slider__item {
    &--before {
      background-image: linear-gradient(to top, #f2f2f2 329px, #ffffff 329px);
    }
  }

  .slider__controls {
    margin-left: 0;
    margin-right: 0;
  }
}
