.slider {
  display: flex;
  flex-direction: column;
}

.slider__list {
  @include indent-reset;
  margin: auto;
  list-style: none;
  margin-left: -20px;
}

.slider__item {
  display: none;
}

.slider__photo {
  display: block;
  margin: 0 auto;
}


.slider__controls {
  z-index: 5;
  margin-top: 30px;
  text-align: center;
}


/* Переключение*/
.slider__switch--to-1:checked ~ .slider__list .slider__item--before {
  display: block;
}

.slider__switch--to-1:checked ~ .switch .switch__scale .switch__indicator {
  display: block;
  left: 6px;
}

.slider__switch--to-2:checked ~ .slider__list .slider__item--after {
  display: block;
}

.slider__switch--to-2:checked ~ .switch .switch__scale .switch__indicator {
  display: block;
  right: 6px;
}


@media (min-width: $width-table) {
  .slider {
    justify-content: center;
    align-content: center;
    position: relative;
    width: 100%;
  }

  .slider__list {
    position: relative;
    height: 540px;
    margin: 0 16px;
    margin-bottom: 33px;
  }

  .slider__item {
    display: block;
    width: auto;
    height: auto;
    overflow: hidden;

    &--before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    &--after {

    }
  }

  .slider__controls {
    margin: 0 69px;
    margin-top: auto;
  }
}


@media (min-width: $width-desktop) {
  .slider__list {
    height: 520px;
  }
}
