.social {
  @include indent-reset;

  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.social__item {
  & + & {
    margin-left: 40px;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.social__link--inst {
  background-size: 80%;
}

.social__icon {
  display: block;
  width: 30px;
  height: auto;

  fill: #666666;

  &:hover,
  &:focus {
    fill: $crl-bg-main;
  }

  &:active {
    opacity: 0.3;
  }

  &--fb {
    width: 10px;
    height: 19px;
  }

  &--inst {
    width: 16px;
    height: 16px;
  }

  &--vk {
    width: 22px;
    height: 12px;
  }
}

@media (min-width: $width-table) {
  .social__icon {
    &--fb {
      width: 14px;
      height: 28px;
    }

    &--inst {
      width: 23px;
      height: 23px;
    }

    &--vk {
      width: 30px;
      height: 16px;
    }
  }

  .social__item {
    & + & {
      margin-left: 28px;
    }
  }
}
