.tablet__cell {
  @include indent-reset;

  &--left {
    text-align: left;
  }

  &--right {
    text-align: right;
  }
}

@media (min-width: $width-tablet) {
  .tablet__row {
    height: 32px;
    border-bottom: 1px solid #cdcdcd;
  }

  .tablet__cell {
    padding-bottom: 9px;
    min-width: 96px;
    vertical-align: bottom;
  }
}

@media (min-width: $width-desktop) {
  .tablet__cell {
    min-width: auto;
  }
}
