html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: $main-font;
  color: #111111;
}
