html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: $main-font;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: red;
}

.page {
  width: 320px;
}

@media (min-width: 748px) {
  .page {
    width: 748px;
  }
}

.layout {
  width: 280px;
  margin: 0 auto;
}

@media (min-width: 748px) {
  .layout {
    width: 688px;
  }
}
