//colors
$clr-main: #111111;
$clr-text: #444444;
$crl-light: #ffffff;
$crl-bg-main: #68b738;
$crl-bg-grey: #f2f2f2;

// fonts
$main-font: "Oswald", "Helvetica", "Arial", sans-serif;
$sec-font: "Arial", sans-serif;

//
$width-mobile: 320px;
$width-tablet: 768px;
$width-desktop: 1300px;
$mobile-only: $width-tablet - 1;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
